
<!DOCTYPE html>
<html lang="en">

    <% include partials/head.ejs %>

<!-- <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>BCW_WARE</title>
	<meta content="BCW_WARE is an Android Spy RAT app which can monitor all android devices. Monitor WhatsApp chats, Call recordings, GPS locations, Contacts, Call Logs, File Explorer & more without root. Also Spy Facebook, Instagram, Tinder & Gmail." name=description>
	<link href=https://i.ibb.co/r7xGMGT/Pics-Art-07-22-05-48-53.png rel=icon>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="js/jquery-3.4.1.min.js"></script>
</head> -->
<body>
	<header id="s-header">
		<nav class="navbar navbar-expand-lg">
			<div class="container px-0">
				<a class="navbar-brand" href="/">
		    	<img src="https://i.ibb.co/r7xGMGT/Pics-Art-07-22-05-48-53.png" alt="Logotype">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#s-services"></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#s-pricing-anchor"></a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
		<div class="container">		
			<div id="main-text">
				<div class="row">
					<div class="col-xl-6 col-lg-8">
						<h1>BCW_WARE</h1>
						<p>Monitor WhatsApp chats, Call recordings, GPS locations, Contacts, Call Logs, File Explorer & more without root. Also Spy Facebook, Instagram, Tinder, Skype, Telegram & Gmail. </p>
						<div class="row button_wrap">
							<div class="col-6">
								<a href="/login" class="btn-custom">Login</a>
							</div>

<!-- <script src="js/bootstrap.bundle.min.js"></script>
	
	<script src="js/main.js"></script> -->
</body>
</html>
